@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&subset=latin-ext");
// COLORS
$color-primary: #2e3141;
$color-primary-light: #3a6073;
$color-primary-dark: #16222a;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;
$font-size-xlarge: 3.2rem;
$font-size-large: 2.8rem;
$font-size-big: 2.3rem;
$font-size-medium: 2rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Padding
$padding-sm: 2rem;
$padding-md: 4rem;
$padding-lg: 6rem;

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.4rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: 1px solid white;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--anim1 {
    background: transparent;
    color: white;
    border: 1px solid white;
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: all 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background: #37474f;
      z-index: -1;
      -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }
    &:hover {
      color: rgba($color-white, 0.9);
      border-color: $color-primary;
      &::before {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      }
    }
  }
}

.btn--anim1.btn--inverted:hover {
  color: $color-primary;
  border-color: rgba($color-white, 0.9);
}

.btn--anim1.btn--inverted:hover::before {
  background-color: rgba($color-white, 1);
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
